<div class="container d-flex justify-content-center">
    <div class="row my-2 mx-2">
        <div class="col-md-6"> <img
                src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-message-icon-design-vector-png-image_1587713.jpg"
                alt="IMG"> </div>
        <!--col-->
        <div class="col-md-6">
            <form action="" [formGroup]="Studentform">
                <h2 class="form-title">Add student</h2>
                <p class="justify text-muted">Have an enquiry or would like to give us feedback?<br>Fill out the form
                    below
                    to contact our team.</p>
                    {{students|json}}
                <div class="form-group pl-1">
                    <label for="exampleFormControlTextarea1">Nhập fullname</label> <input type="text"
                        class="form-control" id="exampleInputName"  formControlName="fullname" value="{{students.fullname}}" [(ngModel)]="students.fullname">
                </div>
                <div class="form-group pl-1">
                    <label for="exampleInputEmail1">Nhập password</label> <input type="password" class="form-control" [(ngModel)]="students.pass" formControlName="pass" value="{{students.pass}}">
                </div>
                <div class="form-group pl-1">
                    <label for="exampleInputEmail1">Nhập email</label> <input type="email" class="form-control" formControlName="email" [(ngModel)]="students.email" value="{{students.email}}">
                </div>
                <div class="form-group pl-1">
                    <label for="exampleInputEmail1" class="options">Chọn giới tính</label>
                    <br>
                    <span class="font-weight-bold mx-1">Nam </span><input type="radio" name="gender" value="true" formControlName="gender" [(ngModel)]="students.gender" >
                    <span class="font-weight-bold mx-1">Nữ </span><input type="radio" name="gender" value="false" formControlName="gender" [(ngModel)]="students.gender" >
                </div>
                <div class="form-group pl-1">
                    <select name="" id="" formControlName="roles" [(ngModel)]="students.roles[0].name">
                        <option [ngValue]="roles[0]">Thành viên</option>
                        <option [ngValue]="roles[1]">Quản trị</option>
                    </select>
                </div>

                <div class="form-group pl-1">
                    <label for="exampleFormControlTextarea1">Ngày sinh</label> <input type="date" class="form-control" formControlName="birthday" [(ngModel)]="students.birthday" [value]="students.birthday"> 
                </div>

                <div class="form-group pl-1">
                    <label for="exampleFormControlTextarea1">Avatar</label> <input type="text" class="form-control" formControlName="avatar" [value]="students.avatar" [(ngModel)]="students.avatar"> 
                </div>

                <div class="row">
                    <div class="col-md-3 offset-md-9"><button type="submit" class="btn btn-primary"
                            (click)="putStudent()">ADD</button></div>
                </div>
            </form>
        </div>
        <!--col-->
    </div>
    <!--row-->
</div>