@import url('https://fonts.googleapis.com/css?family=Assistant');

body {
    background-color: #616161
}

label.btn {
    padding: 18px 60px;
    white-space: normal;
}

label.btn:hover {
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

label.btn-block {
    text-align: left;
    position: relative
}

label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: #000000;
    height: 100%
}

label .glyphicon {
    top: 34%
}

.modal-header {
    background-color: transparent;
    color: inherit
}

.modal-body {
    min-height: 300px
}

.card-signin {
    border: 0;
    border-radius: 0rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1)
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem
}

.card-signin .card-body {
    padding: 2rem
}

.form-signin {
    width: 100%
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 0rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem
}

.form-label-group input {
    height: auto
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x)
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out
}

.btn-google {
    color: white;
    background-color: #ea4335
}

.btn-facebook {
    color: white;
    background-color: #3b5998
}
.child{
  
    width:100%;
    position: fixed;
    top: 1%;
    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}
.update_question{
    position: absolute;
    opacity: 0;
    z-index: -99;
}
.add_element{
    border: 1px solid rgb(117, 117, 117);
    padding: 5%;
    border-radius: 40px;
}
