<div class="global-container">
    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 w-100">
                <form action="" (ngSubmit)="submitForm()">
                    <!-- [formGroup]="loginForm" -->
                    <!-- login_wrapper -->
                    <div class="login_wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"> <a href="#"
                                    class="btn btn-primary facebook">
                                    <span>Login with Facebook</span> <i class="fa fa-facebook"></i> </a> </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"> <a class="btn btn-primary google-plus"
                                    (click)="googleLogin()"> Login with Google <i class="fa fa-google-plus"></i> </a>
                            </div>
                        </div>
                        <h2>or</h2>

                        <div class="formsix-pos">
                            <div class="form-group i-email"> <input type="email" formControlName="email"
                                    class="form-control" required="" id="email2" placeholder="Email Address *">
                            </div>
                        </div>
                        <div class="formsix-e">
                            <div class="form-group i-password"> <input type="password" formControlName="password"
                                    class="form-control" required="" id="password2" placeholder="Password *"> </div>
                        </div>
                        <div class="login_remember_box"> <label class="control control--checkbox">Remember me <input
                                    type="checkbox"> <span class="control__indicator"></span> </label> <a href="#"
                                class="forget_password"> Forgot Password </a> </div>

                        <div class="login_btn_wrapper"> <button typr="submit" class="btn btn-primary login_btn"> Login
                            </button> </div>
                        <div class="login_message">
                            <p>Don’t have an account ? <a href="#"> Sign up </a> </p>
                        </div>

                    </div> <!-- /.login_wrapper-->
                </form>
            </div>
        </div>
    </div>
</div>
