
<div class="row g-6 mb-6">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Sinh viên</span> <span class="h3 font-bold mb-0">{{listStudent.length}}</span> </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i class="bi bi-credit-card"></i> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Môn học</span> <span class="h3 font-bold mb-0">{{listSubject.length}}</span> </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i class="bi bi-people"></i> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <table class="table bg-light">
        <thead>
          <tr>
            <th scope="col">Tên</th>
            <th scope="col">Môn</th>
            <th scope="col">điểm</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of listStudent">
            <td>{{val.fullname}}</td>
          </tr>
        </tbody>
      </table>
</div>
