
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light banner">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Kết quả</h1>
        <p class="lead fw-normal">Kêt quả của học sinh chu tất bách.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="container py-5 body" [ngStyle]="{'min-height':style}">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4  font-italic font-weight-bold">Số điểm bạn nhận được </h1>
        </div>
        <div class="col-lg-7 mx-auto mt-5 bg-light py-5" *ngIf="show_subject == undefined">
            <span class="display-6 text-gray" >bạn chưa có điểm môn này</span>
        </div>
    </div>
    <div class="row" *ngIf="show_subject != undefined">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">{{user.fullname}}</h5>
                            <p class="font-italic text-muted mb-0 small">{{user.email}} | {{user.birthday}} 
                                {{user.username}} | {{user.code}}</p>
                            <p class="font-italic text-muted mb-0 small">Số điểm nhận được {{show_subject}}</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <div><a [routerLink]="['/quiz',subject_save.code]"> <button
                                            class="btn btn-dark text-uppercase btn-hover"> Làm lại </button></a> </div>
                            </div>
                        </div><img src="assets/images/logos/{{subject_save.logo}}" alt="Generic placeholder image" width="200"
                            class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                    <!-- Custom content-->

                </li> <!-- End -->
                <!-- list group item -->
            </ul> <!-- End -->

        </div>
    </div>
</div>